.chat{
    font-size: 30px;
    color:rgb(255, 255, 255);
    background-repeat: no-repeat ;
    text-align: center;
    padding: 40px;
}
body{
    background-image:url("https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    flex-direction: column;
}
